
<h1 class="compose">Compose</h1>
<form action="/" method="post">
  <div class="inputss">
    <input name="headings" maxlength = "100" class="heading" placeholder="Heading" />
     <textarea class="blog" name="input" placeholder="Add your blog"></textarea>
      <br>
    <button class="addbutton">Add</button>
  </div>

  </form>
